body {
    margin: 0;
    padding: 0;
    max-height: 100vw;
    width: 100vw;
    font-family: 'Julee', cursive;
    background-color: #0D2233;
    color: #F7CB22;

    h2 {
        font-size: 48px;
        margin: 0;
        color: #F7CB22;
        font-weight: normal;
    }

    h4 {
        font-size: 20px;
        margin: 0;
        font-weight: normal;
    }

    hr {
        border-color: #F7CB22;
    }
}

header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
}